<launch>
  <arg 
    name = "record" 
    default = "false" 
  />
  <!-- Launch TurtleBot in gazebo -->  
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
  </include>

  <!-- Walk node -->
  <node
    pkg="walker_robot"
    type="walk"
    name="walk"
    output="screen"
    launch-prefix="gnome-terminal --command"
  />
  <node
    pkg="rosbag"
    type="record"
    name="record"
    args = "-a -O $(find walker_robot)/results/recordedData.bag -x /camera/(.*) --duration=30"
    if = "$(arg record)"
  />
</launch>
